@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body
{
    font-family: "Poppins", sans-serif;

}

header
{
    width: 100%;
    height: 70vh;
    background-image: url(imagenes/bg-01.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    
}

nav
{
    height: 60px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo
{
    width: 30px;
    margin-left: 20px;
}

nav ul 
{
    display: flex;
}

nav ul li
{
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a
{
    color: rgb(255, 255, 255);
}

nav ul li a:hover
{
    border-bottom: 2px solid rgb(255, 255, 255);
} 

.container 
{
max-width: none;
margin: 30px;
}

.banner-text
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.texto-header h1
{
    text-transform: uppercase;
    font-size: 45px;
    color: rgb(255, 255, 255);
}

.texto-header p
{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.img-header
{
    width: 0px;
}

.boton-banner
{
    background-color: rgb(255, 255, 255);
    padding: 12px;

    font-size: 18px;
    border-radius: 5px;
}

.boton-banner:hover
{
    background-color: rgb(180, 99, 255);
    color: white;
}

.about
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h2{
    font-size: 35px;
}

.about p
{
    text-align: justify;
}

.cartas-about
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
 
    padding: 10px;
    overflow: hidden;
    text-align: center;
}
.cartas-about img
{
    width: 70px;
}

.boton-about
{
    background-color: rgb(102, 38, 161);
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.boton-about:hover
{
    padding: 9px;
    background-color: rgb(255, 255, 255);
    color:rgb(102, 38, 161) ;
    border: 1px solid rgb(102, 38, 161);
}

.servicios
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.servicios-cartas
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(102, 38, 161);
    border-radius: 3px;
    margin-bottom: 50px;
}

.carta
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.servicios-txt
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0px 0px 7px rgb(102, 38, 161);
}

.servicios-txt h2
{
    font-size: 30px;
}

.boton-servicios
{
    background-color: rgb(102, 38, 161);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: rgb(255, 255, 255);
}

.portfolio
{
    display: flex;
    flex-direction: column;

}

.texto-portfolio
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.texto-portfolio h2{
    font-size: 50px;
}
.img01
{width: 200px;}

.contenido-portfolio
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
    height: 300px;
}

.contenido-portfolio h3{
    font-weight: 700;
}

.txt-portfolio{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.boton-portfolio
{
    background-color: rgb(102, 38, 161);
    padding: 5px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}

.boton-portfolio:hover
{
    padding: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(102, 38, 161);
    border: 1px solid rgb(102, 38, 161);
}

.txt-portfolio h3
{
    text-decoration: underline;
    font-size: 30px;
}

.footer
{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(102, 38, 161);
    
}

.footer-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.footer-section h2
{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.footer-section p
{
    color: rgb(255, 255, 255);
    text-align: justify;
}

.links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.links ul
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.links h3
{
    font-size: 30px;
color: rgb(255, 255, 255);
}

.links ul li 
{
    margin-top: 4px;
}
.links ul li a
{
    color: rgb(255, 255, 255);
}

.links ul li a:hover
{
    text-decoration: underline;
}


@media(min-width:720px)
{
    nav 
    {
        display: flex;
        justify-content: space-between;
        max-width: 100vw;

    }
    nav ul li a 
    {
        font-size: 22px;
        
    }
    
    nav ul
    {
        margin-right: 20px;
    }

    nav ul li 
    {
        margin: 0px 15px;
    }

    .texto-header
    {
        margin-top: 100px;
    }
    .texto-header h1 
    {
        font-size: 80px;
    }

    .texto-header p 
    {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .boton-banner
    {
        padding: 25px;
        font-size: 25px;
        
    }

    .img-header
    {
        width: 500px;
        
    }
    .about
    {
        margin-top: 150px;
    }

    .about h2
    {
        font-size: 60px;
    }

    .about p 
    {
        font-size: 20px;
    }
    #nosotros 
    {
        font-size: 50px;
    }

    .cont-cartas
    {
        margin-top: 60px;
        display: flex;
        align-items: center;
    }

    .cartas-about
    {
       margin: 25px;
       border: 2px solid rgb(102, 38, 161);
       border-radius: 5px;
       box-shadow: 1px 0px 15px rgb(102, 38, 161);
       margin-bottom: 50px;
    }

    .boton-about
    {
        padding: 15px;
        font-size: 20px;
       
    }

    .boton-about:hover{
        padding: 14px;
        font-size: 20px;
    }

    .servicios-container
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
       

    }
    .servicios-cartas
    {
        display: flex;
        flex-direction: row;
        height: 300px;
        background-color: rgb(255, 255, 255);
        border: none;
    }
    .carta
    {
        height: 80%;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
        
    }

    .servicios-txt{
        box-shadow: none;
        border: none;
        width: 60%;
        margin-bottom: -30px;
    }

    .servicios-txt h2
    {
        font-size: 60px;
    }

    .servicios p
    {
        font-size: 22px;
    }

    .carta h3
    {
        font-size: 30px;
    }

    .carta img
    {
        width: 60px;
    }

    .carta p 
    {
        font-size: 20px;
    }

    .boton-servicios 
    {
        padding: 15px;
        font-size: 20px;
        width: 219px;
    }

    .boton-servicios:hover
    {
     background-color: rgb(255, 255, 255);
     color: rgb(102, 38, 161);   
     border: 1px solid rgb(102, 38, 161);
     padding: 14px;
    }
    
   .cartas-portfolio
   {
    background-image: url(imagenes/bg-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border: 2px solid rgb(102, 38, 161);
    align-items: center;
    height: 400px;
   }

   .contenido-portfolio
   {
    border: 4px solid rgb(255, 255, 255);
    margin: 5px;box-shadow: 0px 0px 15px rgb(0, 0, 0);
   }

   .contenido-portfolio h3
   {
    color: rgb(255, 255, 255);
   }
   .contenido-portfolio p 
   {
    color: rgb(255, 255, 255);
   }

   .boton-portfolio
   {
    background-color:rgb(180, 99, 255);
   }
   .boton-portfolio:hover
   {
    padding: 4px;
   }

   .texto-portfolio h2
   {
    font-size: 60px;
   }

   .texto-portfolio p 
   {
    font-size: 22px;
   }
}

